---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// Redirect to the external website
---

<Layout>
	<Welcome />
</Layout>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="0;url=https://ziningc7.wixsite.com/cmusuds" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="https://ziningc7.wixsite.com/cmusuds">https://ziningc7.wixsite.com/cmusuds</a>...</p>
  </body>
</html>
